.contenedor {
    background-color: green;

    /* grid */
    display:grid;
    grid-template-columns: 100px 100px;
    grid-auto-columns:   100px 100px;
    grid-auto-flow: row;
    height: 600px;
    place-content: center; 
    gap:20px;
  /*   width: 220px; */

}

.item {
    display: grid;
    width: 100px;
    height: 100px;
    background-color: greenyellow;
    font-size: 30px;
    justify-content: end;
    align-content: end;
}



